PORT=3001
DB_HOST=localhost
DB_PORT=5432
DB_NAME=tshirtbrothers
DB_USER=tsbadmin
DB_PASSWORD=
JWT_SECRET=
SS_ACCOUNT_NUMBER=
SS_API_KEY=
OPENAI_API_KEY=
SPACES_KEY=
SPACES_SECRET=
SPACES_REGION=nyc3
SPACES_BUCKET=tshirtbrothers
SPACES_ENDPOINT=https://nyc3.digitaloceanspaces.com
REMOVEBG_API_KEY=
DOMAIN=https://tshirtbrothers.com
