PORT=3001
DB_HOST=localhost
DB_PORT=5432
DB_NAME=tshirtbrothers
DB_USER=tsbadmin
DB_PASSWORD=
JWT_SECRET=
SS_ACCOUNT_NUMBER=
SS_API_KEY=
OPENAI_API_KEY=
SPACES_KEY=
SPACES_SECRET=
SPACES_REGION=nyc3
SPACES_BUCKET=tshirtbrothers
SPACES_ENDPOINT=https://nyc3.digitaloceanspaces.com
REMOVEBG_API_KEY=
DOMAIN=https://tshirtbrothers.com
RESEND_API_KEY=
FROM_EMAIL=noreply@tshirtbrothers.com
ADMIN_EMAIL=kevin@tshirtbrothers.com
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=
ADMIN_PHONE=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
